LOCAL_MODE=false
S3_BUCKET=ai-news-mlops-2026
AWS_DEFAULT_REGION=us-east-1
LABEL_CONFIDENCE_THRESH=0.85
DRIFT_LOW_CONFIDENCE_THRESH=0.70
PROCESS_TARGET_TAG_KEY=Role
PROCESS_TARGET_TAG_VALUE=ai-news-mlops-processor
