__pycache__/
.pytest_cache/
.terraform/
.terraform.lock.hcl
.venv/
*.pyc
*.pyo
*.pyd
*.html
eval_results.json
local_data/
terraform.tfstate
terraform.tfstate.backup
tfplan

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan
pipeline/__pycache__/
pipeline/tests/__pycache__/
